opencv-python 
tensorflow 
numpy 
matplotlib
ultralytics
celery-5.4.0
Django>=4.2,<5.0
python-telegram-bot>=20.0
python-dotenv>=1.0.0
stripe>=8.0.0
fpdf>=1.7.2
asgiref>=3.6.0
openai>=1.0.0
requests>=2.31.0
redis==4.6.0
kombu==5.3.4
celery==5.3.4
importlib-metadata==6.8.0
django-celery-beat==2.5.0
 django-celery-results==2.5.0
